/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-cyan-glow: #11a7ac;
  --color-steel-blue: #89a7c4;
  --color-deep-saffron: #e18012;
  --color-blaze-orange: #ff5d12;
  --color-bright-gold: #ffdd1b;
  --color-lime-green: #00c507;
  --color-racing-red: #ec2929;
  --color-alabaster-grey: #eaeaea;
  --color-dust-grey: #cfcfcf;
  --color-carbon-black: #212121;
  --color-carbon-black-accent: #191919;

  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-indigo: #2c3e50;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-alabaster-grey);
  --color-background-soft: var(--color-dust-grey);
  --color-background-mute: #c0c0c0;

  --color-border: rgba(0, 0, 0, 0.12);
  --color-border-hover: rgba(0, 0, 0, 0.29);

  --color-heading: var(--vt-c-indigo);
  --color-text: var(--color-carbon-black);

  --color-primary: var(--color-cyan-glow);
  --color-primary-accent: var(--color-steel-blue);
  --color-secondary: var(--color-deep-saffron);
  --color-secondary-accent: var(--color-blaze-orange);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --color-background: var(--color-carbon-black);
    --color-background-soft: var(--color-carbon-black-accent);
    --color-background-mute: #121212;

    --color-border: rgba(255, 255, 255, 0.12);
    --color-border-hover: rgba(255, 255, 255, 0.29);

    --color-heading: var(--vt-c-white);
    --color-text: rgba(235, 235, 235, 0.64);
  }
}

:root[data-theme='dark'] {
  --color-background: var(--color-carbon-black);
  --color-background-soft: var(--color-carbon-black-accent);
  --color-background-mute: #121212;

  --color-border: rgba(255, 255, 255, 0.12);
  --color-border-hover: rgba(255, 255, 255, 0.29);

  --color-heading: var(--vt-c-white);
  --color-text: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
